# Ignore virtual environments
.venv/
venv/

# Ignore media uploads
media/


staticfiles/
staticfiles_collected/

# Ignore PyCache
__pycache__/
*.pyc
*.pyo

# Ignore IDE-specific files
.vscode/
.idea/

.env
.env.local
.env.*.local

# local TLS certs
certs/
