{% extends "it_admin/it_admin_base_dashboard.html" %}
{% block page_title %}Users for {{ organization.name }}{% endblock %}
{% block content %}
<div class="card p-4">
    <h5 class="mb-3">Users in {{ organization.name }}</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
