<h5>Post-Operative Care</h5>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.monitoring_plan.label_tag }}
        {{ form.monitoring_plan }}
    </div>
    <div class="mb-3">
        {{ form.suture_removal_timing.label_tag }}
        {{ form.suture_removal_timing }}
    </div>
    <div class="mb-3">
        {{ form.clinical_parameters.label_tag }}
        {{ form.clinical_parameters }}
    </div>
    <div class="form-check mb-3">
        {{ form.analgesics_withheld }} {{ form.analgesics_withheld.label_tag }}
    </div>

    <button type="submit" name="save_surgery_{{ species|slugify }}" class="btn btn-success">Save</button>
</form>
