{% extends "admin/base_admin_dashboard.html" %}

{% block title %}Form Creation Confirmation{% endblock %}
{% block breadcrumb_title %}Form Creation Confirmation{% endblock %}
{% block page_title %}Form Successfully Created{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <h2>Form "{{ form.name }}" has been created successfully!</h2>
    <p>Description: {{ form.description }}</p>

    <h3>Fields in the Form:</h3>
    <ul>
        {% for field in form_fields %}
        <li>
            {{ field.field_label }} - {{ field.get_field_type_display }}
            
            <!-- Display the multiple-choice options if applicable -->
            {% if field.split_choices %}
            <ul>
                {% for choice in field.split_choices %}
                <li>{{ choice }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create_form' org_id %}" class="btn btn-primary">Create Another Form</a>
    <a href="{% url 'admin_dashboard' org_id %}" class="btn btn-secondary">Back to Dashboard</a>
</div>
{% endblock %}