{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html xmlns:sap="http://xbrl.us/sap/v0.3/2021-05-01/sap">
<ix:header></ix:header>
<div>
  <div style="font-family: 'Times New Roman'; font-size: 10pt;">
    <p><br/></p>
    <div class="TableContainer" style="margin: 2px 0px 2px -5px;">
      <table class="Table Ltr TableWordWrap" style="margin: auto; width: 745.2px; border-collapse: collapse; border: 2px solid black; font-family: 'Times New Roman'; font-size: 10pt;">
        <tbody>
<tr class="TableHeader">
  <td colspan="14" style="border: 2px solid black; padding: 10px; font-weight: bold; font-size: 14pt; text-align: center; background-color: #f0f0f0;">
    RESEARCH & RELATED Senior/Key Person Profile
  </td>
</tr>
{% with senior_key_person_data|default:"[]" as people %}
  {% with people|length as person_count %}
    {% for person in people %}
<tr class="TableHeader">
  <td colspan="14" style="border: 1px solid black; padding: 6px; font-weight: bold;">
    PROFILE - {% if forloop.first %}Project Director/Principal Investigator{% else %}Senior/Key Person {{ forloop.counter0 }}{% endif %}
  </td>
</tr>
<tr class="TableRow"><td colspan="5"><strong>Prefix:</strong> {{ person.prefix }}</td><td colspan="5"><strong>First Name:</strong> {{ person.first_name }}</td><td colspan="4"><strong>Middle Name:</strong> {{ person.middle_name }}</td></tr>
<tr class="TableRow"><td colspan="8"><strong>Last Name:</strong> {{ person.last_name }}</td><td colspan="6"><strong>Suffix:</strong> {{ person.suffix }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Position Title:</strong> {{ person.position_title }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Department:</strong> {{ person.department }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Organization Name:</strong> {{ person.organization_name }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Division:</strong> {{ person.division }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Street Address 1:</strong> {{ person.street1 }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Street Address 2:</strong> {{ person.street2 }}</td></tr>
<tr class="TableRow"><td colspan="7"><strong>City:</strong> {{ person.city }}</td><td colspan="7"><strong>County:</strong> {{ person.county }}</td></tr>
<tr class="TableRow"><td colspan="7"><strong>State:</strong> {{ person.state }}</td><td colspan="7"><strong>Province:</strong> {{ person.province }}</td></tr>
<tr class="TableRow"><td colspan="7"><strong>Country:</strong> {{ person.country }}</td><td colspan="7"><strong>Zip:</strong> {{ person.zip }}</td></tr>
<tr class="TableRow"><td colspan="7"><strong>Phone:</strong> {{ person.phone }}</td><td colspan="7"><strong>Fax:</strong> {{ person.fax }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Email:</strong> {{ person.email }}</td></tr>
<tr class="TableRow"><td colspan="14"><strong>Credential:</strong> {{ person.credential }}</td></tr>
<tr class="TableRow"><td colspan="7"><strong>Project Role:</strong> {{ person.project_role }}</td><td colspan="7"><strong>Other Project Role Category:</strong> {{ person.other_project_role_category }}</td></tr>
<tr class="TableRow">
  <td colspan="14"><strong>Biographical Sketch:</strong>
    {% if person.bio_sketch and person.bio_sketch != "No file uploaded" %}
      <a href="{{ person.bio_sketch }}" target="_blank">{{ person.bio_sketch|cut:"/media/uploads/" }}</a>
    {% else %}
      <span style="color: red;">No file uploaded</span>
    {% endif %}
  </td>
</tr>
<tr class="TableRow">
  <td colspan="14"><strong>Current & Pending Support:</strong>
    {% if person.current_pending_support and person.current_pending_support != "No file uploaded" %}
      <a href="{{ person.current_pending_support }}" target="_blank">{{ person.current_pending_support|cut:"/media/uploads/" }}</a>
    {% else %}
      <span style="color: red;">No file uploaded</span>
    {% endif %}
  </td>
</tr>
    {% endfor %}
    {% with missing_count=2|add:"-person_count" %}
  {% if missing_count > 0 %}
    {% for i in missing_count|default:0|as_integer_range %}
<tr class="TableHeader">
  <td colspan="14" style="border: 1px solid black; padding: 6px; font-weight: bold;">
    PROFILE - Senior/Key Person {{ person_count|add:forloop.counter }}
  </td>
</tr>
<tr class="TableRow"><td colspan="5"><strong>Prefix:</strong></td><td colspan="5"><strong>First Name:</strong></td><td colspan="4"><strong>Middle Name:</strong></td></tr>
<tr class="TableRow"><td colspan="8"><strong>Last Name:</strong></td><td colspan="6"><strong>Suffix:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Position Title:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Department:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Organization Name:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Division:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Street Address 1:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Street Address 2:</strong></td></tr>
<tr class="TableRow"><td colspan="7"><strong>City:</strong></td><td colspan="7"><strong>County:</strong></td></tr>
<tr class="TableRow"><td colspan="7"><strong>State:</strong></td><td colspan="7"><strong>Province:</strong></td></tr>
<tr class="TableRow"><td colspan="7"><strong>Country:</strong></td><td colspan="7"><strong>Zip:</strong></td></tr>
<tr class="TableRow"><td colspan="7"><strong>Phone:</strong></td><td colspan="7"><strong>Fax:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Email:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Credential:</strong></td></tr>
<tr class="TableRow"><td colspan="7"><strong>Project Role:</strong></td><td colspan="7"><strong>Other Project Role Category:</strong></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Biographical Sketch:</strong> <span style="color: red;">No file uploaded</span></td></tr>
<tr class="TableRow"><td colspan="14"><strong>Current & Pending Support:</strong> <span style="color: red;">No file uploaded</span></td></tr>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</html>