<!-- Consent Modal -->
<div class="modal fade" id="consentModal" tabindex="-1">
    <div class="modal-dialog">
      <form class="modal-content" onsubmit="event.preventDefault(); addConsent();">
        <div class="modal-header"><h5>Add Consent Form</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
        <div class="modal-body">
          <input class="form-control mb-2" name="consent_name" placeholder="Name" required>
          <input class="form-control mb-2" name="consent_version" placeholder="Version" required>
          <input class="form-control mb-2" type="file" name="consent_file" required>
        </div>
        <div class="modal-footer"><button class="btn btn-primary">Add</button></div>
      </form>
    </div>
  </div>
  
  <!-- Recruitment Modal -->
  <div class="modal fade" id="recruitModal" tabindex="-1">
    <div class="modal-dialog">
      <form class="modal-content" onsubmit="event.preventDefault(); addRecruit();">
        <div class="modal-header"><h5>Add Recruitment Material</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
        <div class="modal-body">
          <input class="form-control mb-2" name="recruit_name" placeholder="Name" required>
          <input class="form-control mb-2" name="recruit_version" placeholder="Version" required>
          <input class="form-control mb-2" type="file" name="recruit_file" required>
        </div>
        <div class="modal-footer"><button class="btn btn-primary">Add</button></div>
      </form>
    </div>
  </div>
  
  <!-- Other Modal -->
  <div class="modal fade" id="otherModal" tabindex="-1">
    <div class="modal-dialog">
      <form class="modal-content" onsubmit="event.preventDefault(); addOther();">
        <div class="modal-header"><h5>Add Other Attachment</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
        <div class="modal-body">
          <input class="form-control mb-2" name="other_name" placeholder="Name" required>
          <input class="form-control mb-2" name="other_version" placeholder="Version" required>
          <select class="form-select mb-2" name="other_category" onchange="toggleOtherDescribe(this)">
              <option value="">-- Select Category --</option>
              <option>Survey Questionaire</option>
              <option>Screening Form</option>
              <option>Data Collection Form</option>
              <option>Contract/ Agreement</option>
              <option>Grant</option>
              <option>Site Authorization</option>
              <option>Training Document</option>
              <option>Product Labels / Brochure</option>
              <option>Other</option>
          </select>
          <input class="form-control mb-2 d-none" name="other_description" placeholder="Describe Other Category">
          <input class="form-control mb-2" type="file" name="other_file" required>
        </div>
        <div class="modal-footer"><button class="btn btn-primary">Add</button></div>
      </form>
    </div>
  </div>
  
  <script>
      function toggleOtherDescribe(select) {
          const desc = select.closest('.modal-body').querySelector('[name="other_description"]');
          desc.classList.toggle('d-none', select.value !== 'Other');
      }
  
      function addConsent() {
          const form = document.querySelector('#consentModal form');
          const entry = {
              name: form.consent_name.value,
              version: form.consent_version.value,
              file_name: form.consent_file.value.split("\\").pop()
          };
          consentDocs.push(entry);
          renderTable('consent-tbody', consentDocs, ['name', 'version']);
          bootstrap.Modal.getInstance(document.getElementById('consentModal')).hide();
          cleanModalBackdrop();  // 👈 Add this
      }
  
      function addRecruit() {
          const form = document.querySelector('#recruitModal form');
          const entry = {
              name: form.recruit_name.value,
              version: form.recruit_version.value,
              file_name: form.recruit_file.value.split("\\").pop()
          };
          recruitDocs.push(entry);
          renderTable('recruit-tbody', recruitDocs, ['name', 'version']);
          bootstrap.Modal.getInstance(document.getElementById('recruitModal')).hide();
          cleanModalBackdrop();  // 👈 Add this
      }
  
      function addOther() {
          const form = document.querySelector('#otherModal form');
          const category = form.other_category.value === 'Other'
              ? `Other: ${form.other_description.value}`
              : form.other_category.value;
  
          const entry = {
              name: form.other_name.value,
              version: form.other_version.value,
              category: category,
              file_name: form.other_file.value.split("\\").pop()
          };
          otherDocs.push(entry);
          renderTable('other-tbody', otherDocs, ['name', 'version', 'category']);
          bootstrap.Modal.getInstance(document.getElementById('otherModal')).hide();
          cleanModalBackdrop();  // 👈 Add this
      }
      function cleanModalBackdrop() {
            const backdrops = document.querySelectorAll('.modal-backdrop');
            backdrops.forEach(el => el.remove());
            document.body.classList.remove('modal-open');
            document.body.style = '';  // Remove inline scroll lock
        }

  </script>
  