{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html xmlns:sap="http://xbrl.us/sap/v0.3/2021-05-01/sap"><ix:header></ix:header>
<body>
<div style="font-family: 'times new roman', times; font-size: 10pt;">

  <h2 style="text-align: center; font-size: 14pt; font-weight: bold;">Project/Performance Sites</h2>

  {% for site in project_performance_data.sites %}
    <table class="Table Ltr TableWordWrap" style="margin: 30px auto; width: 95%; border-collapse: collapse; border: 2px solid black; font-family: 'Times New Roman'; font-size: 10pt;">
      <tr>
        <td colspan="2" style="padding: 8px; border: 1px solid black;"><strong>Site {{ forloop.counter }}</strong></td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">UEI:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.uei }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Organization Name:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.organization_name }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Street Address 1:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.street1 }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Street Address 2:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.street2 }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">City:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.city }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">County:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.county }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Province:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.province }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">State:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.state }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Zip Code:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.zip }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Country:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.country }}</td>
      </tr>
      <tr>
        <td style="padding: 6px; border: 1px solid black;">Congressional District:</td>
        <td style="padding: 6px; border: 1px solid black;">{{ site.congressional_district }}</td>
      </tr>
    </table>
  {% endfor %}

</div>
</body>
</html>
