{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html xmlns:sap="http://xbrl.us/sap/v0.3/2021-05-01/sap"><ix:header>
  </ix:header></div><div><div style="font-family: 'times new roman', times; font-size: 10pt;"><br/></div><div style="font-family: 'times new roman', times; font-size: 10pt;">
  <p><br/></p>
  <div class="OutlineElement Ltr BCX0 SCXW251968372" style="color: #000000; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; cursor: text; clear: both; position: relative; direction: ltr; font-family: 'Segoe UI', 'Segoe UI Web', Arial, Verdana, sans-serif; font-size: 12px; background-color: #ffffff;">
  <p class="Paragraph SCXW251968372 BCX0" style="margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow-wrap: break-word; font-weight: bold; font-style: normal; vertical-align: baseline; font-kerning: none; background-color: transparent; color: windowtext; text-align: left; text-indent: 0px;"><span>&#160;</span></p>
  </div>
  <div class="OutlineElement Ltr SCXW251968372 BCX0" style="color: #000000; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; cursor: text; clear: both; position: relative; direction: ltr; font-family: 'Segoe UI', 'Segoe UI Web', Arial, Verdana, sans-serif; font-size: 12px; background-color: #ffffff;">
  <div class="TableContainer SCXW251968372 BCX0" style="margin: 2px 0px 2px -5px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; position: relative;">
  <div id="michelle" class="WACAltTextDescribedBy SCXW251968372 BCX0" style="margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; position: absolute; visibility: hidden; z-index: -100;"><br/></div>
  <div id="t_ft_4NM63APUPS00000000000000000000b">
    <table class="Table Ltr TableWordWrap" style="margin: auto; width: 745.2px; height: 910px; border-collapse: collapse; border: 2px solid black; font-family: 'Times New Roman'; font-size: 10pt;">
        <tbody>
          <!-- Header -->
          <!-- Updated Header Section with Question 3 -->
<tr>
    {% for period in budget_periods %}
    <tr>
        <td colspan="4" style="border: 2px solid black; text-align: center; font-weight: bold; font-size: 12pt; padding: 8px;">
            RESEARCH & RELATED BUDGET - Budget Period {{ period.period_number }}
        </td>
    </tr>
    
    <tr>
        <td colspan="14" style="border: 2px solid black; text-align: left; font-weight: bold; font-size: 10pt; padding: 8px;">
            <p style="margin: 0; font-size: 10pt;">UEI:</p>
            <input type="text" name="uei" style="width: 95%;" value="{{ period.uei }}" readonly>
    
            <p style="margin: 5px 0 0; font-size: 10pt;">Enter Name of Organization:</p>
            <input type="text" name="organization_name" style="width: 95%;" value="{{ period.organization_name }}" readonly>
        </td>    
    </tr>
    
    <tr class="TableRow">
        <td class="FirstCol" colspan="2" style="width: 50%; padding: 6px; border: 1px solid #000;">
            <label>
                <input type="checkbox" name="submission_type" value="project"
                {% if period.is_project %}checked{% endif %} disabled> Project
            </label>
            
            <label>
                <input type="checkbox" name="submission_type" value="subaward"
                {% if period.is_subaward %}checked{% endif %} disabled> Subaward / Consortium
            </label>
        </td>
    
        <td class="FirstCol" colspan="16" style="padding: 6px; border: 1px solid #000;">
            <p style="margin: 5px 0 0;">a. Start Date:</p>
            <input type="text" name="start_date" style="width: 90%;" value="{{ period.start_date }}" readonly>
    
            <p style="margin: 5px 0 0;">b. End Date:</p>
            <input type="text" name="end_date" style="width: 90%;" value="{{ period.end_date }}" readonly>
        </td>
    </tr>
    <tr>
        <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border-top: 1px solid #000;">
            A. SENIOR / KEY PERSONS
        </td>
    </tr>
    
    {% for person in period.senior_key_persons %}
    <tr>
        <td><label>First Name:</label> <input type="text" value="{{ person.first_name }}" readonly></td>
        <td><label>Last Name:</label> <input type="text" value="{{ person.last_name }}" readonly></td>
        <td><label>Base Salary:</label> <input type="text" value="{{ person.base_salary }}" readonly></td>
        <td><label>Calendar Months:</label> <input type="text" value="{{ person.calendar_months }}" readonly></td>
        <td><label>Requested Salary:</label> <input type="text" value="{{ person.requested_salary }}" readonly></td>
        <td><label>Fringe Benefits:</label> <input type="text" value="{{ person.fringe_benefits }}" readonly></td>
        <td><label>Funds Requested:</label> <input type="text" value="{{ person.funds_requested }}" readonly></td>
    </tr>
    {% endfor %}
    {% endfor %}
    
    <a href="{% url 'download_filled_sf424_pdf' org_id=1 form_id=1 %}" class="btn btn-primary">
        Download Filled SF-424 PDF
    </a>
  </tbody>
  </table>
  <br/></div></div></body></html>
  