{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html xmlns:sap="http://xbrl.us/sap/v0.3/2021-05-01/sap"><ix:header>
  </ix:header></div><div><div style="font-family: 'times new roman', times; font-size: 10pt;"><br/></div><div style="font-family: 'times new roman', times; font-size: 10pt;">
  <p><br/></p>
  <div class="OutlineElement Ltr BCX0 SCXW251968372" style="color: #000000; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; cursor: text; clear: both; position: relative; direction: ltr; font-family: 'Segoe UI', 'Segoe UI Web', Arial, Verdana, sans-serif; font-size: 12px; background-color: #ffffff;">
  <p class="Paragraph SCXW251968372 BCX0" style="margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow-wrap: break-word; font-weight: bold; font-style: normal; vertical-align: baseline; font-kerning: none; background-color: transparent; color: windowtext; text-align: left; text-indent: 0px;"><span>&#160;</span></p>
  </div>
  <div class="OutlineElement Ltr SCXW251968372 BCX0" style="color: #000000; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; cursor: text; clear: both; position: relative; direction: ltr; font-family: 'Segoe UI', 'Segoe UI Web', Arial, Verdana, sans-serif; font-size: 12px; background-color: #ffffff;">
  <div class="TableContainer SCXW251968372 BCX0" style="margin: 2px 0px 2px -5px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; position: relative;">
  <div id="michelle" class="WACAltTextDescribedBy SCXW251968372 BCX0" style="margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; position: absolute; visibility: hidden; z-index: -100;"><br/></div>
  <div id="t_ft_4NM63APUPS00000000000000000000b">
    <table class="Table Ltr TableWordWrap" style="margin: auto; width: 745.2px; height: 910px; border-collapse: collapse; border: 2px solid black; font-family: 'Times New Roman'; font-size: 10pt;">
        <tbody>
          <!-- Header -->
          <!-- Updated Header Section with Question 3 -->
<tr>
    <td colspan="4" style="border: 2px solid black; text-align: center; font-weight: bold; font-size: 12pt; padding: 8px;">
        RESEARCH & RELATED - OTHER INFORMATION
    </td>
    <!-- Vertical Divider -->
    <td colspan="14" style="border: 2px solid black; text-align: left; font-weight: bold; font-size: 10pt; padding: 8px;">
        <!-- Display Submitted UEI -->
        <p style="margin: 0; font-size: 10pt;">UEI:</p>
        <input type="text" name="uei" style="width: 95%;" value="{{ uei }}" readonly>

        <!-- Display Submitted Organization Name -->
        <p style="margin: 5px 0 0; font-size: 10pt;">Enter Name of Organization:</p>
        <input type="text" name="organization_name" style="width: 95%;" value="{{ organization_name }}" readonly>
    </td>    
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        1. Are Human Subjects Involved?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.human_subjects == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.human_subjects == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <strong>1.a. Is the Project Exempt from Federal Regulations?</strong><br>
        <label>
            <input type="checkbox" {% if rr_data.project_exempt == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.project_exempt == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <strong>1.b. Exemption Numbers:</strong><br>
        {% for i in "12345678" %}
            <label style="margin-right: 10px;">
                <input type="checkbox"
                       {% if rr_data.exemption_numbers and i in rr_data.exemption_numbers %}checked{% endif %} disabled>
                {{ i }}
            </label>
        {% endfor %}
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <strong>1.c. Is the IRB Review Pending?</strong><br>
        <label>
            <input type="checkbox" {% if rr_data.irb_pending == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.irb_pending == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="9">
        <label>IRB Approval Date:</label><br>
        <input type="text" value="{{ rr_data.irb_approval_date|default_if_none:'' }}" readonly>
    </td>
    <td class="FirstCol" colspan="9">
        <label>Human Subject Assurance Number:</label><br>
        <input type="text" value="{{ rr_data.human_assurance_number|default_if_none:'' }}" readonly>
    </td>
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        2. Are Vertebrate Animals Used?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.vertebrate_animals == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.vertebrate_animals == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <strong>2.a. Is the IACUC Review Pending?</strong><br>
        <label>
            <input type="checkbox" {% if rr_data.iacuc_pending == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.iacuc_pending == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="9">
        <label>IACUC Approval Date:</label><br>
        <input type="text" value="{{ rr_data.iacuc_approval_date|default_if_none:'' }}" readonly>
    </td>
    <td class="FirstCol" colspan="9">
        <label>Animal Welfare Assurance Number:</label><br>
        <input type="text" value="{{ rr_data.animal_welfare_number|default_if_none:'' }}" readonly>
    </td>
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        3. Is proprietary/privileged information included in the application?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.proprietary_info == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.proprietary_info == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        4.a. Does this project have an actual or potential impact – positive or negative – on the environment?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.environmental_impact == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.environmental_impact == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>4.b. If yes, please explain:</label><br>
        <input type="text" value="{{ rr_data.environmental_explanation|default_if_none:'' }}" readonly style="width: 100%;">
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>4.c. If this project has an actual or potential impact on the environment, has an exemption been authorized or an EA/EIS been performed?</label><br>
        <label>
            <input type="checkbox" {% if rr_data.environmental_exemption == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.environmental_exemption == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>4.d. If yes, please explain:</label><br>
        <input type="text" value="{{ rr_data.environmental_exemption_explanation|default_if_none:'' }}" readonly style="width: 100%;">
    </td>
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        5. Is the research performance site designated, or eligible to be designated, as a historic place?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.historic_place == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.historic_place == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>5.a. If yes, please explain:</label><br>
        <input type="text" value="{{ rr_data.historic_explanation|default_if_none:'' }}" readonly style="width: 100%;">
    </td>
</tr>
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        6. Does this project involve activities outside of the United States or partnerships with international collaborators?
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>
            <input type="checkbox" {% if rr_data.international_collaboration == "Yes" %}checked{% endif %} disabled>
            Yes
        </label>
        <label style="margin-left: 20px;">
            <input type="checkbox" {% if rr_data.international_collaboration == "No" %}checked{% endif %} disabled>
            No
        </label>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>6.a. If yes, identify countries:</label><br>
        <input type="text" value="{{ rr_data.international_countries|default_if_none:'' }}" readonly style="width: 100%;">
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18">
        <label>6.b. Optional Explanation:</label><br>
        <input type="text" value="{{ rr_data.international_explanation|default_if_none:'' }}" readonly style="width: 100%;">
    </td>
</tr>
{% for field in rr_other_info_attachments %}
<tr class="TableRow">
    <td class="FirstCol" colspan="18" style="padding: 6px; border: 1px solid #000;">
        <strong>{{ field.label }}</strong>
    </td>
</tr>

<tr class="TableRow">
    <td class="FirstCol" colspan="18" style="padding: 6px; border: 1px solid #000;">
        {% with file=RR_Other_Info_data|get_item:field.name %}
            {% if file and file != "No file uploaded" %}
                <p style="margin: 10px 0px 5px; font-weight: bold;">
                    Uploaded File: <span style="color: blue;">{{ file|cut:"rr_attachments/" }}</span>
                </p>
            {% else %}
                <p style="margin: 10px 0px 5px; color: red; font-weight: bold;">
                    No file uploaded.
                </p>
            {% endif %}
        {% endwith %}
    </td>
</tr>
{% endfor %}
<tr class="TableHeader">
    <td class="FirstCol" colspan="18" style="padding: 6px; font-weight: bold; border: 1px solid #000;">
        12. Other Attachments
    </td>
</tr>

{% for i in "1234567890"|make_list %}
    {% with key="other_attachments_"|add:i %}
        {% with file=RR_Other_Info_data|get_item:key %}
            {% if file and file != "No file uploaded" %}
            <tr class="TableRow">
                <td class="FirstCol" colspan="18" style="padding: 6px; border: 1px solid #000;">
                    <p style="margin: 10px 0px 5px; font-weight: bold;">
                        📎 Other Attachment {{ i }}: 
                        <span style="color: blue;">{{ file|cut:"rr_attachments/" }}</span>
                    </p>
                </td>
            </tr>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endfor %}

</tr>
  </tbody>
  </table>
  <br/></div></div></body></html>