{% load custom_filters %}
{% with prefix=species|slugify %}
{% with form=euthanasia_forms.numbers|get_item:species %}
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <table class="table table-bordered w-50">
        <thead class="table-light">
            <tr>
                <th>USDA Category</th>
                <th>Number of Animals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>B</td>
                <td>{{ form.num_b }}</td>
            </tr>
            <tr>
                <td>C</td>
                <td>{{ form.num_c }}</td>
            </tr>
            <tr>
                <td>D</td>
                <td>{{ form.num_d }}</td>
            </tr>
            <tr>
                <td>E</td>
                <td>{{ form.num_e }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3">
        {{ form.justification.label_tag }}
        {{ form.justification }}
        {{ form.justification.errors }}
    </div>

    <button type="submit" class="btn btn-success" name="save_euthanasia_numbers_{{ prefix }}">Save Numbers</button>
</form>
{% endwith %}
{% endwith %}
