<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Age Range</label>
        {{ species_form.age_range }}
    </div>
    <div class="mb-3">
        <label>Target Weight</label>
        {{ species_form.target_weight }}
    </div>
    <div class="mb-3">
        <label>Max Number of Cages at One Time</label>
        {{ species_form.max_cages }}
    </div>
    <div class="mb-3">
        <label>Estimated Average Time Housed (Weeks)</label>
        {{ species_form.avg_weeks_housed }}
    </div>
    <div class="mb-3">
        <label>Specific Pathogen Free?</label>
        {{ species_form.is_pathogen_free }}
    </div>
    <div class="mb-3">
        <label>Animal Identification Methods</label>
        {{ species_form.identification_methods }}
    </div>
    <button type="submit" name="save_species_info_{{ species|slugify }}" class="btn btn-success">Save</button>
</form>
