{% extends "base/base_dashboard.html" %}
{% block content %}
<h2>Enter Animal Details for Cages</h2>
<form method="post">
    {% csrf_token %}
    {% for cage in cages %}
    <h3>{{ cage.name }} (Capacity: {{ cage.capacity }})</h3>
    <label for="population_{{ cage.id }}">Number of Animals:</label>
    <input type="number" name="population_{{ cage.id }}" id="population_{{ cage.id }}" max="{{ cage.capacity }}" required>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Add Animals</button>
</form>
{% endblock %}
