{% extends "base/base_dashboard.html" %}
{% block content %}
<h2>Vivarium View</h2>
<div>
    {% for cage in cages %}
    <h3>{{ cage.name }} (Capacity: {{ cage.capacity }})</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Animal ID</th>
                <th>RFID</th>
                <th>Date of Birth</th>
                <th>Species</th>
                <th>Strain</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in cage.animals.all %}
            <tr>
                <td>{{ animal.animal_id }}</td>
                <td>{{ animal.rfid_tag|default:"Not Assigned" }}</td>
                <td>{{ animal.date_of_birth|date:"Y-m-d" }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.strain }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No animals in this cage.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}
