{% extends "base/base_dashboard.html" %}
{% block title %}Forms{% endblock %}
{% block page_title %}Forms{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Your Forms</h1>
    <p>Below are forms assigned to you. You can download, fill, and submit them.</p>

    <!-- List of available forms -->
    <h2 class="mt-5">Available Forms</h2>
    {% if forms %}
        <ul class="list-group mt-3">
        {% for form in forms %}
            <li class="list-group-item">
                <a href="{% url 'download_form' form.id %}">{{ form.form.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No forms available at the moment.</p>
    {% endif %}
</div>
{% endblock %}
