{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{% static 'js/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'js/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Correct paths for static files -->
    <link href="{% static 'css/dashboard-free.css' %}" rel="stylesheet">
    <script src="{% static 'js/dashboard-free.js' %}"></script>
    <script src="{% static 'js/chart.umd.js' %}"></script>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="{% static 'js/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'js/assets/css/soft-ui-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="javascript:void(0)">
                <!-- Display profile picture in the sidebar -->
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" class="avatar avatar-sm border-radius-lg" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'img/default-profile.jpg' %}" class="avatar avatar-sm border-radius-lg" alt="Default Profile Picture">
                {% endif %}
                <span class="ms-1 font-weight-bold">{{ user.username }}</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                        href="{% url 'dashboard' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-shop text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'messages' %}active{% endif %}"
                        href="{% url 'messages' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-chat-round text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">Messages
                            {% if total_unread_conversations > 0 %}
                                <span class="badge bg-danger">{{ total_unread_conversations }}</span>
                            {% endif %}
                        </span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'all_experiments' %}active{% endif %}"
                        href="{% url 'all_experiments' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-collection text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">All Experiments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'create_experiment' %}active{% endif %}"
                        href="{% url 'create_experiment' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-ruler-pencil text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">Create New Experiment</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
                        href="{% url 'profile' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}"
                        href="{% url 'home' %}">
                        <div
                            class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-user-run text-dark"></i>
                        </div>
                        <span class="nav-link-text ms-1">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                            {% block breadcrumb_title %}Dashboard{% endblock %}
                        </li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">{% block page_title %}Dashboard{% endblock %}</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">
                            <span class="input-group-text text-body"><i class="fas fa-search"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="container-fluid py-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="{% static 'js/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/assets/js/plugins/chartjs.min.js' %}"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: scripts for the example pages etc -->
    <script src="{% static 'js/assets/js/soft-ui-dashboard.min.js' %}"></script>
</body>

</html>