{% extends "base_dashboard.html" %}

{% block title %}Animal Overview{% endblock %}

{% block content %}
<div class="container">
    <h2>Overview for Animal {{ animal.animal_index }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="tail">Tail:</label>
            <input type="text" class="form-control" id="tail" name="tail" value="{{ animal.tail }}">
        </div>
        <div class="form-group">
            <label for="ear">Ear:</label>
            <input type="text" class="form-control" id="ear" name="ear" value="{{ animal.ear }}">
        </div>
        <div class="form-group">
            <label for="tag">Tag:</label>
            <input type="text" class="form-control" id="tag" name="tag" value="{{ animal.tag }}">
        </div>
        <div class="form-group">
            <label for="donor">Donor:</label>
            <input type="text" class="form-control" id="donor" name="donor" value="{{ animal.donor }}">
        </div>
        <div class="form-group">
            <label for="sex">Sex:</label>
            <input type="text" class="form-control" id="sex" name="sex" value="{{ animal.sex }}">
        </div>
        <div class="form-group">
            <label for="species">Species:</label>
            <input type="text" class="form-control" id="species" name="species" value="{{ animal.species }}">
        </div>
        <div class="form-group">
            <label for="strain">Strain:</label>
            <input type="text" class="form-control" id="strain" name="strain" value="{{ animal.strain }}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
