{% extends "base_dashboard.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card card-body">

            <!-- Profile Banner -->
            <div class="profile-banner-container">
                {% if user.profile_banner %}
                    <img src="{{ user.profile_banner.url }}" alt="Profile Banner" class="img-fluid w-100 rounded" id="profile-banner">
                {% else %}
                    <div class="placeholder-banner bg-secondary text-white text-center py-5 rounded" 
                        id="profile-banner" style="cursor: pointer;">
                        <h5>Upload a Profile Banner</h5>
                    </div>
                {% endif %}
                <form id="profile-banner-form" method="post" 
                      action="{% url 'update_profile_banner' org_id=user.organization.id %}" 
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="id_profile_banner" name="profile_banner" style="display:none;" onchange="validateAndSubmitBanner();">
                </form>
            </div>

            <!-- Profile Picture -->
            <div class="text-center mt-3">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="avatar avatar-xxl border-radius-lg shadow-sm rounded-circle" id="profile-picture">
                {% else %}
                    <img src="{% static 'img/default-profile.jpg' %}" alt="Default Profile Picture" class="avatar avatar-xxl border-radius-lg shadow-sm rounded-circle" id="profile-picture">
                {% endif %}
                <form id="profile-picture-form" method="post" action="{% url 'update_profile_picture' org_id=user.organization.id %}" enctype="multipart/form-data" class="d-none">
                    {% csrf_token %}
                    <input type="file" id="id_profile_picture" name="profile_picture" style="display:none;" onchange="document.getElementById('profile-picture-form').submit();">
                </form>
            </div>

            <!-- User Info -->
            <div class="text-center mt-3">
                <h5>{{ user.username }}</h5>
                <div id="user-info-display">
                    <p>First Name: {{ user.first_name }}</p>
                    <p>Last Name: {{ user.last_name }}</p>
                    <p>Institution: {{ user.institution }}</p>
                    <p>Role: {{ user.role }}</p>
                    <p>Location: {{ user.location }}</p>
                    <button id="edit-button" class="btn btn-secondary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
                </div>
                <form id="user-info-form" method="post" action="{% url 'update_user_info' org_id=user.organization.id %}" class="d-none">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user.first_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" value="{{ user.last_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="institution">Institution:</label>
                        <input type="text" id="institution" name="institution" class="form-control" value="{{ user.institution }}">
                    </div>
                    <div class="mb-3">
                        <label for="role">Role:</label>
                        <input type="text" id="role" name="role" class="form-control" value="{{ user.role }}">
                    </div>
                    <div class="mb-3">
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" class="form-control" value="{{ user.location }}">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="text-end">
                <a href="{% url 'user_settings' org_id=user.organization.id %}" class="btn btn-light">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </div>
            <!-- Friend Add Section -->
            <div class="mt-4 text-center position-relative">
                <form id="search-user-form" method="get" action="#">
                    <input type="text" id="search-users" class="form-control me-2" placeholder="Search for users..." autocomplete="off">
                    <ul id="searchSuggestions" class="list-group position-absolute w-100"></ul>
                </form>
            </div>

            <!-- Pending Friend Requests -->
            <div class="mt-5">
                <h5>Pending Friend Requests</h5>
                <ul class="list-group">
                    {% for request in pending_requests %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ request.user1.username }}
                            <div>
                                <button class="btn btn-success btn-sm accept-request-btn" data-request-id="{{ request.id }}">
                                    Accept
                                </button>
                                <button class="btn btn-danger btn-sm decline-request-btn" data-request-id="{{ request.id }}">
                                    Decline
                                </button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No pending requests</li>
                    {% endfor %}
                </ul>
            </div>                        

            <!-- Friends List -->
            <div class="mt-5">
                <h5>Friends List</h5>
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item">
                            <a href="{% url 'friend_info' org_id friend.id %}">
                                <img src="{{ friend.profile_picture.url }}" alt="Profile Picture" class="avatar avatar-sm border-radius-lg shadow-sm rounded-circle" style="width: 40px; height: 40px;">
                                {{ friend.username }}
                            </a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No friends yet</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const acceptButtons = document.querySelectorAll('.accept-request-btn');
        const declineButtons = document.querySelectorAll('.decline-request-btn');

        if (acceptButtons.length > 0) {
            acceptButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const requestId = this.getAttribute('data-request-id');
                    fetch("{% url 'respond_friend_request' %}", {
                        method: 'POST',
                        body: JSON.stringify({ friend_id: requestId, action: 'accept' }),
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            location.reload();
                        }
                    })
                .   catch(error => console.error('Error:', error));
                });
            });    
        }

        if (declineButtons.length > 0) {
            declineButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const requestId = this.getAttribute('data-request-id');
                    fetch("{% url 'respond_friend_request' %}", {
                        method: 'POST',
                        body: JSON.stringify({ friend_id: requestId, action: 'decline' }),
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            location.reload();
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            });
        }
    });

    document.getElementById('search-users').addEventListener('input', function () {
        const query = this.value;
        const suggestionsBox = document.getElementById('searchSuggestions');

        if (query.length > 0) {
            fetch("{% url 'search_users' %}?query=" + encodeURIComponent(query), {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                suggestionsBox.innerHTML = '';
                if (data.users.length > 0) {
                    data.users.forEach(user => {
                        const suggestionItem = document.createElement('a');
                        suggestionItem.href = `{% url 'friend_info' org_id=0 friend_id=0 %}`
                            .replace('0', user.organization_id)
                            .replace('0', user.id);
                        suggestionItem.className = 'list-group-item list-group-item-action';
                        suggestionItem.textContent = user.username;

                        suggestionsBox.appendChild(suggestionItem);
                    });
                } else {
                    suggestionsBox.innerHTML = '<li class="list-group-item">No users found</li>';
                }
            })
            .catch(error => console.error('Error fetching users:', error));
        } else {
            suggestionsBox.innerHTML = '';
        }
    });

    document.getElementById('profile-banner').addEventListener('click', function() {
        document.getElementById('id_profile_banner').click();
    });

    function validateAndSubmitBanner() {
        const fileInput = document.getElementById('id_profile_banner');
        const file = fileInput.files[0];

        if (file) {
            if (file.size > 10 * 1024 * 1024) {
                alert('The file size exceeds 10MB. Please upload a smaller file.');
                fileInput.value = '';
            } else {
                document.getElementById('profile-banner-form').submit();
            }
        }
    }
    
    document.getElementById('profile-picture').addEventListener('click', function() {
        document.getElementById('id_profile_picture').click();
    });

    document.getElementById('edit-button').addEventListener('click', function() {
        document.getElementById('user-info-display').classList.add('d-none');
        document.getElementById('user-info-form').classList.remove('d-none');
    });

    document.getElementById('cancel-button').addEventListener('click', function() {
        document.getElementById('user-info-form').classList.add('d-none');
        document.getElementById('user-info-display').classList.remove('d-none');
    });

    document.getElementById('friends').addEventListener('input', function() {
        const query = this.value;
        const suggestionsBox = document.getElementById('userSuggestions');

        if (query.length > 0) {
            fetch("{% url 'search_users' %}?query=" + encodeURIComponent(query), {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                suggestionsBox.innerHTML = '';
                if (data.users.length > 0) {
                    data.users.forEach(user => {
                        const suggestionItem = document.createElement('a');
                        suggestionItem.href = '#';
                        suggestionItem.className = 'list-group-item list-group-item-action';
                        suggestionItem.textContent = user.username;

                        suggestionItem.addEventListener('click', function(e) {
                            e.preventDefault();
                            document.getElementById('friends').value = user.username;
                            document.getElementById('friend_username').value = user.username;
                            suggestionsBox.innerHTML = '';
                        });

                        suggestionsBox.appendChild(suggestionItem);
                    });
                } else {
                    suggestionsBox.innerHTML = '<li class="list-group-item">No users found</li>';
                }
            })
            .catch(error => console.error('Error fetching users:', error));
        } else {
            suggestionsBox.innerHTML = '';
        }
    });

    document.getElementById('add-friend-btn').addEventListener('click', function() {
        const friendUsername = document.getElementById('friend_username').value;
        if (friendUsername) {
            fetch("{% url 'add_friend' org_id=user.organization.id %}", {
                method: 'POST',
                body: new FormData(document.getElementById('add-friend-form')),
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    document.getElementById('success-message').classList.remove('d-none');
                    setTimeout(function() {
                        document.getElementById('success-message').classList.add('d-none');
                    }, 3000);
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        } else {
            alert('Please select a user to add as a friend.');
        }
    });

    document.querySelectorAll('.accept-request-btn').forEach(button => {
        button.addEventListener('click', function () {
            const requestId = this.getAttribute('data-request-id');
            console.log("Accept button clicked. Request ID:", requestId);  // Debugging log

            fetch("{% url 'respond_friend_request' %}", {
                method: 'POST',
                body: JSON.stringify({ friend_id: requestId, action: 'accept' }),
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response from server:", data);  // Debugging log
                if (data.status === 'success') {
                    alert(data.message);
                    location.reload();
                } else {
                    alert(data.message || 'An error occurred.');
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });

    document.querySelectorAll('.decline-request-btn').forEach(button => {
        button.addEventListener('click', function () {
            const requestId = this.getAttribute('data-request-id');
            console.log("Decline button clicked. Request ID:", requestId);  // Debugging log

            fetch("{% url 'respond_friend_request' %}", {
                method: 'POST',
                body: JSON.stringify({ friend_id: requestId, action: 'decline' }),
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response from server:", data);  // Debugging log
                if (data.status === 'success') {
                    alert(data.message);
                    location.reload();
                } else {
                    alert(data.message || 'An error occurred.');
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}