{% extends "base_dashboard.html" %}

{% block content %}
<h2>Tasks for {{ experiment.name }}</h2>

{% if user_tasks %}
    <ul class="list-group">
    {% for task in user_tasks %}
        <li class="list-group-item">
            <h5>{{ task.title }}</h5>
            <p>{{ task.description }}</p>
            <p><strong>Status:</strong> {{ task.status }}</p>
            <p><strong>Due by:</strong> {{ task.due_date }}</p>
            <p><strong>Notes:</strong> {{ task.notes }}</p>

            {% if task.status != 'Complete' %}
                <a href="{% url 'update_task_status' org_id=org_id task_id=task.id %}" class="btn btn-primary">Update Task Status</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks assigned to you for this experiment.</p>
{% endif %}
{% endblock %}
