<h5>Wildlife Capture</h5>

<form method="POST">
    {% csrf_token %}
    {{ wildlife_capture_form.non_field_errors }}

    <!-- Main Capture Fields -->
    {% for field in wildlife_capture_form %}
        {% if field.name == "health_observations" %}
            <hr>
            <h5>Animals Tagged: Monitoring the Health of Captured Animals</h5>
        {% endif %}
        <div class="mb-3">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit" name="wildlife_capture_submit" class="btn btn-success">Save Wildlife Capture Info</button>
</form>
